@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
  font-family: "Public Sans", sans-serif;
  font-weight: 100 900;
  font-display: swap;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/PublicSans-VariableFont_wght") format("ttf");
}

@font-face {
  font-family: "Public Sans", sans-serif;

  font-weight: 100 900;
  font-display: swap;
  font-style: italic;
  font-named-instance: "Italic";
  src: url("/fonts/PublicSans-Italic-VariableFont_wght") format("ttf");
}

@theme static {
  --font-sans: "Public Sans", sans-serif;
  --color-background: #000a0c;
  --color-background-accent: #081617;
  --color-primary: #13f6e5;
}

:root {
  font-family: var(--font-sans);
  --ui-primary: var(--color-primary);
  --ui-background-accent: var(--color-background-accent);

  /* Main background color */
  --ui-bg: var(--color-background-accent);

  /* More prominent border */
  /* --ui-border-accented: var(--color-background-accent); */
}

body {
  background: var(--color-background);
}
